@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>BUON NATALE ED UN FELICE ANNO NUOVO</h1>
    <p class="lead">
        Jingle bell, jingle bell, jingle bell rock
        Jingle bells swing and jingle bells ring
        Snowing and blowing up bushels of fun
        Now the jingle hop has begun<br /><br />

        Jingle bell, jingle bell, jingle bell rock
        Jingle bells chime in jingle bell time
        Dancing and prancing in Jingle Bell Square
        In the frosty air.<br /><br />

        What a bright time, it's the right time
        To rock the night away<br /><br />

        Jingle bell time is a swell time
        To go gliding in a one-horse sleigh
        Giddy-up jingle horse, pick up your feet
        Jingle around the clock<br /><br />

        Mix and a-mingle in the jingling feet
        That's the jingle bell,
        That's the jingle bell,
        That's the jingle bell rock
    </p>
    <p><a href="https://www.youtube.com/watch?v=6rqBCHVbH2E" class="btn btn-primary btn-lg">La Colonna sonora del natale &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>A Natale siamo tutti più buoni</h2>
        <p>
            Se la sufficenza c'è più regali avrai per te
        </p>
        <p><a class="btn btn-default" href="http://moodle.its-ictpiemonte.it/">Una valutazione migliore per un Natale migliore &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Non hai ancora fatto i regali?</h2>
        <p>Eccoti alcune idee</p>
        <p><a class="btn btn-default" href="http://www.cartier.it/it/collezioni/regali.html?&mid=230063q25660&mkwid=sEdB7i4Zc_dc&pcrid=233349485968&kword=idee%2520per%2520%252Bregali%2520di%2520%252Bnatale&match=b&plid=&gclid=EAIaIQobChMI44fVxq-T2AIVE54bCh29sgcxEAAYASAAEgJQ-PD_BwE">Vai al sito &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Alcune frasi per augurare buon natale</h2>
        <p>Eccoti alcune frasi per augurare un buon natale ad amici e cari</p>
        <p><a class="btn btn-default" href="https://www.money.it/Auguri-Natale-2017-frasi-immagini-divertenti-originali">Vai con gli auguri &raquo;</a></p>
    </div>
</div>